.App {
  text-align: center;
}

form{
  width: 300px;
  display: inline-block;
  padding: 30px;
  margin-top: 100px;
}

body{
  width: 100vw;
  height: 100vh;
background:linear-gradient(rgb(160, 74, 74),rgb(149, 149, 77)) ;
background-repeat: no-repeat;
background-size: cover;
}

input{
  display: inline-block;
  width: 200px;
  height: 30px;
  background-color: rgb(142, 154, 104);
  border:2px solid rgb(57, 50, 122) ;
  margin: 10px;
  font-size: medium;
}

textarea{
  display: inline-block;
  width: 200px;
  height: 30px;
  border: 2px solid rgb(72, 79, 154);
  background-color: rgb(80, 174, 103);
  font-size: larger; 
}

